@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    margin: 0%;
    padding: 0;
    position: relative;
    height: 100%;
    overflow-x: hidden;   
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.navbar{
    padding: 15px 12%;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid #ebebeb;
    background-color: #000;
    color: rgb(249, 77, 14);
    border-radius: 20px;    
}

.whole{
    padding:10px;
}

.logo{
    font-weight: 600;
    font-size: 40px;
}
.navbar ul{
    padding: 10px 30px;
}
.navbar ul li{
    display:inline-flex ;
    padding: 5px 10px;
    margin: 0 10px;
}
.btn{
    background-color: rgb(249, 77, 14);
    color: black;
    padding: 12px 25px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border: white 2px solid;
}
.btntheme{
    background-color: rgb(249, 77, 14);
    padding-bottom: 2px;
   
    border-radius: 20px;
    cursor: pointer;
    font-size: 28px;
    font-weight: bold;
    border: white 2px solid;
}
.btns{
    display: flex;
    align-items: center;
    gap: 6px;
}

.dark .btn{
    border: 2px solid black;
}
.dark .btntheme{
    border: 2px solid black;
}
.navbar.dark a {
  color: black;
  font-weight: 500;
}

.navbar.light a {
  color: white;
}

.navbar.dark a.active {
  color: rgb(249, 77, 14);
}
.navbar.light a.active {
  color: rgb(249, 77, 14);
}
.contain{
    display: flex;
    justify-content: center;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;  
}
.contain button{
     margin: 20px;
     font-size: medium;
      background-color: black;
  color: #ff4d00;
  border: 2px solid #ff4d00;
  padding: 8px 16px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}
.contain button:hover{
       background-color: #ebebeb;
       border: #000 3px solid;
       color: #000;

}
.navbar a{
    color: white;
    font-weight: 400;
}

.h1main{
    text-align: center;
}
.details{
    margin-left: 20%;
}
.user{
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    width: 40%;
    padding: 20px 0px; 
}
.users-columns {
  display: flex;
  gap: 20px;
}

.column {
  flex: 1;
}
.infomain{
    display: flex;
    justify-content: center;
    margin-top: 4%;
}
.info{
    width: 30%;
    border: black solid 2px;
    border-radius: 20px;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border:  rgb(249, 77, 14) 3px solid;
}
.info p{
    padding: 25px;
    padding-left: 20%;
}
.info span{
    color:  rgb(249, 77, 14);
}
.fommain{
   display: flex;
   justify-content: center;
   margin-top: 3%;
}
.fom{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 20px;
    border: 2px solid gray;
    padding: 20px;
    background-color: #000;
    border:  rgb(249, 77, 14) solid 3px;
    border-radius: 5px;
}
.fom input{
      margin-top: 20px;
      padding: 20px;
      font-size: medium;
     border-radius: 10px;
}
.fom textarea{
     margin-top: 20px;
     padding: 20px;
     font-size: medium;
    border-radius: 10px;
}
.butmain{
    display: flex;
    justify-content: center;
}
.fom  button{
    margin: 20px;
    background-color:  rgb(249, 77, 14);
    color: black;
    border: white solid 2px;
    border-radius: 5px;
    font-size: medium;
    padding: 10px;
    width: 40%;
    font-weight: bold;
}
.fom button:hover{
     background-color: white;
     color: black;
     font-weight: bold;
     transition: 0.5s ease;
}
.loginmain{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.login{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 20px;
    border: 2px solid gray;
    padding: 20px;
    border: #000 solid 2px;
    border-radius: 5px;    
}

.login h1{
     text-align: center;
}
.login input{
      margin-top: 20px;
      padding: 20px;
     font-size: medium;
     border-radius: 10px;
     background-color: #000;
     color: #fff;
}
.login input::placeholder{
     color: #fff;     
}
.login input:focus{
    color: #ff4d00;
    border: 2px solid  #ff4d00;
    outline: none;
}
.logbutmain{
   display: flex;
   justify-content: center;
}
.login  button{
    margin: 20px;
    background-color: black;
    color: whitesmoke;
    border: black solid 2px;
    border-radius: 5px;
    font-size: medium;
    padding: 10px;
    width: 40%;
    background-color: #ff4d00;
     color: black;
     font-weight: bold;
}
.login  button:hover{
      background-color: #ebebeb;
}

.dark .login {
  background-color: #1a1a1a;
  border-color: #f4f0f0;
  color: #f4efef;
}

.dark .login input {
  background-color: white;
  
  border: 1px solid #444;
}

.dark .login input::placeholder {
  color: #141414;
}

.dark .login input:focus {
  color: black
}

.dark .login button {
  background-color: #ff4d00;
  color: #000;
  font-weight: bold;
}

.dark .login button:hover {
  background-color: #ffa366;
}

.spark{
    color: rgb(249, 77, 14);
    width: 60px;
    height: 60px;
    background-color: gainsboro;
    border-radius: 50%;
    padding: 8px;
}
.graph{
    background-color: rgb(249, 77, 14);
    border-radius: 50%;
     width: 60px;
    height: 60px;
    padding: 3px;
 
}
.pause{
    background-color: rgb(249, 77, 14);
    color: white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    padding: 8px;
    padding-bottom: 10px;
    transform: rotate(90deg);
    position: absolute;
    top:-15px;
    left: -15px;
   
}
.analy{
    color: rgb(249, 77, 14);
     width: 60px;
    height: 60px;
    background-color: gainsboro;
    border-radius: 50%;
    padding: 6px;
}
.ana1{
   
    font-size:80px;
}
.line2{
  
    font-size:80px;
}
.sp{
    color: grey;
}
.line3{    
    font-size:80px;
}
.img1{ 
    width: 400px;
    border-radius: 20px;
}
.content{
    margin-top: 80px;
}
.top1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;
}
.top1 h1{
    margin-top: 12px;
}
.top2{
    text-align: center;
}
.img{
    position: relative;
}
.app.light {
  background-color: white;
  color: black;
}

.app.dark {
  background-color: #121212;
  color: white;
}

.navbar.dark {
  background-color: #fff;
  color: black;
}

.app{
    min-height: 100vh;
}



@media (max-width: 1024px){
     .content{
        display: flex;
        flex-direction: column;
     }
     .top1{
        flex-direction: column-reverse;
     }
     .fom{
    width:60%;
     }
     .info{
    width: 50%;
     }
     .login{
        width: 50%;
     }
}
@media (max-width: 426px){
    body{
        overflow-x: hidden;
    }
    .navbar{
        justify-content: center;
        flex-direction: column; 
        text-align: center;        
    }
    .fom{
    width:80%;
     }
     .info{
    width: 80%;
    padding: 5px;
     }
     .login{
     width: 80%;
     }
     .users-columns {
    display: flex;
    flex-direction: column;
     }
     .details{
    margin-left: 30%;
    }
    .img1{ 
    width: 300px;
    }
    .content h1{
        font-size: 40px;
    }
    .spark{
    width: 40px;
    height: 40px;
    }
    .pause{
    width: 40px;
    height: 40px;  
    }
    .graph{
     width: 40px;
    height: 40px; 
    }
    .analy{
     width: 40px;
    height: 40px;
    }
    .line3{
        padding-top: 10px;
    }
}